@model IdentityUdemyCourse.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_Admin_Layout_.cshtml";
}



<h4>Rol Güncelleme Sayfası</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdateRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden"  asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

