
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Member_Layout.cshtml";
}

<h1>Bu sayfaya erişim yetkiniz yoktur, sorun yaşıyorsanız lütfen site yöneticileri ile irtibata geçiniz</h1>

